@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #F2F4F7;
  --foreground: #171717;
  --oranground: #FF6B00;
  --darkwhite: #ffff;
  --principal: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-oranground: var(--oranground);
  --color-darkwhite: var(--darkwhite);
  --color-principal: var(--principal);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-major: "Major Mono Display", "serif";
  --font-outfit: "Outfit", "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
    --darkwhite: #2f2f2fbe;
    --principal: #ffff;
  }
}



.dark {
  --background: #171717;
  --foreground: #ededed;
  --darkwhite: #2f2f2fbe;
  --principal: #ffff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}
